.createPage {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.createPageContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #7880b1;
  border-radius: 8px;
  box-shadow: 0px 0px 32px 0px #2e5c8e, -14px -14px 20px #a0acc0;
  padding: 20px;
}

.createPageContent h1 {
  align-self: center;
  font-size: 2.5em;
}

.createPageContent form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGroup {
  font-size: 1.7em;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.label {
  padding-top: 5px;
}

.formGroupInner {
  font-size: 0.8em;
  padding-left: 3px;
  border-radius: 10px;
}

.imagePreview {
  text-align: center;
}

.imagePreview img {
  max-width: 270px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.imagePreview > p {
  color: white;
  padding-bottom: 5px;
}

.customFileButton {
  font-size: 0.7em;
  background-color: #8db28f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.customFileButton:hover {
  scale: 1.1;
  background-color: #45a049;
}

.formGroup textarea {
  padding: 5px;
  border-radius: 10px;

  width: 90%;
  min-height: 200px;
  overflow: auto;
}

.submitButton {
  width: 20%;
  align-self: center;
  font-size: 1.2em;
  background-color: #d88181;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  scale: 1.1;
  background-color: #af4c4c;
}
